body {
  margin: 10px auto;
  text-align: center;
}

:root {
  --background: #fefbe9;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: #fefbe9;
	font-family: 'Raleway', Georgia, times, serif;
	font-weight: 500;
    letter-spacing: 2.5px;
    color: #f0a04b;
}

/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/*allow navbar to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #0cccc2;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #0cccc2;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #17a099;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    all: unset; /*Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #18ada6;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}


.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
 }

/*HOMEPAGE PHOTO STYLING*/
.homepage-photo {
  border-radius: 10px;
  max-height: 600px;
  max-width: auto;
}

.homepage-container {
  display: flex;
  justify-content: center;
}


 /*stock button for the site*/
.stock-button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #001488;
    background-color: #0cccc2;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  /*hover state for buttons*/
button:hover {
    background-color: #1cadad;
    box-shadow: 0px 15px 20px rgba(46, 229, 156, 0.527);
    color: #fff;
    transform: translateY(-7px);
  }
  
  
  button:active {
    transform: translateY(-1px);
  }

  /*Color bar at top of pages*/
  .top-all {
    background-color: #18ada6;
    height: 30px;
    margin:0;
    padding:0;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
  }

  /*RSVP FORM*/
  .top {
    background-color: #18ada6;
    height: 200px;
    margin:0;
    padding:0;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
  }
  
  .form {
    height: 800px;
    width: 600px;
    background-color: #f6c453;
    margin: -150px auto;
    border-radius: 10px;
    color: #001488;
    padding: 0px 0px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
  }
  
  .info-rsvp {
    padding: 10px;
  }
  
  h1.rsvp, p.rsvp {
    letter-spacing: 2.5px;
    font-family: 'Raleway';
    font-weight: 400;
    color: #001488;
  }

  h1.rsvp, h2.rsvp, p.rsvp {
    text-align: center;
    padding: 0px;
    margin: 5px 5px;
  }
  
  h2.rsvp {
    font-family: 'Lora', Georgia, times, serif;
    font-weight: normal;
    line-height: 1.2;
    font-style: oblique;
  }
  
  p.line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto 20px auto;
    color: #18ada6;
  }
  
  .form input {
    font-size: 15px;
    color: #666;
    padding: 6px;
    margin: 25px auto 20px;
    display: block;
    width: 75%;  
  }
  
  input:focus {
    outline: 0;
  }
  
  .button button {
    display: inline-block;
    width: 400px;
  }
  
  button {
    color: #001488;
    background-color: #0cccc2;
    border: none;
    font-family: 'Raleway';
    letter-spacing: 2.5px;
    font-weight: 500;
    font-size: 18px;
    padding: 15px 32px;
    width: 300px;
    margin: 20px auto 0px auto; 
    float:left;
  }

  button.accept {
    border-radius: 0px 0px 0px 10px;
    border-right: solid 1px #0cccc2;
  }
  
  button.regret {
    border-radius: 0px 0px 10px 0px;
  }
  
  button:hover {
    background-color: #117d9e;
    transition: .5s;
  }
  
  button:focus {
    outline: 0;
  }

  p.faq-header {
    display: flex;
    justify-content: center;
    border-bottom: 8px solid #f0a04b;
    
  }

/*Homepage Slideshow*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.carousel {
  width: auto;
  height: 600px;

  margin: auto;
  background-size: contain;
  border-radius: 10px;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: relative;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  padding-top: 8px;
  padding-bottom: 4px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/*Back button radius*/
.Back {
  border-radius: 4px 4px 4px 4px;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 4px 4px 4px;
}

/*when the user hovers,add a black background with a little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #f3dda9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #f6c453;
}

/* Faint animation */
.fade .Containers{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

.footer {
  width: 100%;
  text-align: end;
  padding-right: 20px;
}
/*
  .simple-ss {
    width: 60%;
    height: 600px;
    background-color: #eeeeee;
    margin: auto;
    background-image: 
      url("img/tameimpala.jpg");
    background-size: contain;
    animation-name: slide;
    animation-duration: 10s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    border-radius: 10px;
  }
  
  @keyframes slide {
    0% {
      background-position: 0 0;
    }
    16.66% {
      background-position: 0 0;
    }
    33.32% {
      background-position: -800px 0;
    }
    49.98% {
      background-position: -800px 0;
    }
    66.64% {
      background-position: -1600px 0;
    }
    83.30% {
      background-position: -1600px 0;
    }
    100% {
      background-position: 0 0;
    }
  */


